<h2>Search in TMDb</h2>

<div class="search-container">

<%= form_tag search_tmdb_path, method: :get, id: 'tmdb_form' do %>
  <label for="searchMovieName">Movie Name</label>
  <%= text_field_tag 'search_terms', nil, class: "form-control", id: "movie_title_field", placeholder: "Manhunter" %> 
    
  <label for="searchReleaseDateField">Release Year</label>
  <%= text_field_tag 'release_year', nil, class: "form-control", id: "movie_year_field", placeholder: "1986" %>

  <div class="form-check">
    <%= radio_button_tag 'language', 'en', false, class: "form-check-input" %>
    <label class="form-check-label" for="language_en">English Only</label>
  </div>

  <div class="form-check">
    <%= radio_button_tag 'language', 'all', true, class: "form-check-input" %>
    <label class="form-check-label" for="language_all">All Languages</label>
  </div>

  <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-warning col-2' %>
<% end %>

<br>
<%= link_to 'Back to Home', movies_path, class: "btn btn-secondary mt-2" %>

<!-- Flash Messages (Bootstrap Alerts) -->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show mt-3" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<!-- Search Results Table -->
<% if @movies.present? %>
  <table id="search_movies" class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Overview</th>
        <th>Add?</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie["title"] %></td>
          <td><%= movie["release_date"] %></td>
          <td><%= movie["overview"] %></td>
          <td>
            <%= form_tag add_movie_path, method: :post do %>
              <%= hidden_field_tag :title, movie["title"] %>
              <%= hidden_field_tag :release_date, movie["release_date"] %>
              <%= hidden_field_tag :overview, movie["overview"] %>
              <%= hidden_field_tag :rating, "R" %>
              <%= submit_tag "Add Movie", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

</div>
